alembic
asgiref
beautifulsoup4
blinker
branca
certifi
charset-normalizer
crispy-bootstrap5
cycler
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-filter
django-widget-tweaks
djangorestframework
entrypoint2
fonttools
Pillow
pipenv
platformdirs
soupsieve
SQLAlchemy
sqlparse
typing_extensions
tzdata
urllib3
xyzservices